/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* Top (menu) styles */
.top {
  margin: auto;
  margin-top: 5rem;
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top h1 {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  text-align: center;
}

.top ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 3rem;
}

.top li {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid white;
  transition: 0.35s ease-in-out;
}

.top li:hover {
  border-bottom: 1px solid black;
}

/* Center (pomodoro timer) section */
.center {
  height: 60%;
  width: 60%;
  margin: 0 auto;
}

.timer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-weight: 500;
  font-size: 12.5rem;
  letter-spacing: 1rem;
}

/* .timer h1 {
  font-size: 5rem;
} */

.icon-container {
  /* border: 1px solid green; */
  margin-top: 3rem;
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  font-size: 5rem;
  opacity: 0.75;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}

.fa-stop-circle {
  width: 4rem;
  color: red;
}

/* Bottom section */
.bottom {
  /* border: 1px solid magenta; */
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* mobile friendly setting */
@media (max-width: 680px) {
  .top {
    width: 100%;
  }
  .top h1 {
    font-size: 10vw;
  }
  .center {
    width: 100%;
    max-width: 100%;
  }
  .timer {
    font-size: 22vw;
  }
  .icon {
    font-size: 12vw;
  }
  .fa-stop-circle {
    width: 9vw;
  }
}
